#page-title {
  font-size: 44px
}

.nav-tabs {
  display: none;
}

#sidebar {
  /* background-color: pink; */
}

.peer.is-not-custom~.peer-\[\.is-not-custom\]\:lg\:px-8 {
  /* padding-left: 0px;
  padding-right: 0px; */
}

#table-of-contents {
  display: none;
}

#page-context-menu,#pagination,#footer {
    display: none;
}